.card-heading{
    margin-bottom: 3.2rem;
}
.card{
    box-shadow: rgba(255,255,255,0.4) 0px 6px 24px 0px,
    rgba(255,255,255,0.3) 0px 0px 0px 1px ;
}
img{
    width: 100%;
}
.card-content{
    padding: 3.2rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    flex-wrap: wrap;
}
button{
    align-self: flex-end;
}
button:hover{
    cursor: pointer;
}
.super_hit{
    background-color:rgb(112, 212, 11);
}
.average{
    background-color: #f1c515;
}
.rating{
    padding: 0.3rem 1.8rem;
    color: #000;
    border-radius: 100px;
    margin-left: 1.2rem;
}