* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

:root {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255,255,255,0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html {
  font-size: 62.5%;
}

/* have a look into body once after we done with rest of the styling  */
body {
  margin: 0 auto;
  padding: 0 32px;
  min-width: 300px;
  background-color: var(--backgroundColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins",sans-serif;
  font-weight: 900;
  color: var(--heading-color);
}

h1 {
  font-size: 3.2rem;
}

p,
li,
a,
label {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--para-color);
  line-height: 1.5;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



/*! layout */
.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}



.grid {
  display: grid;
  gap: 9.6rem;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}


